body {
	min-height: 100vh;
	min-height: 100dvh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

html {
	background-color: black;
	color: white;
	text-shadow: 0px 0px 2px black;
	overflow: hidden;
}

h1, p {
	text-align: center;
}

p {
	max-width: 800px;
	margin-inline: auto;
}

div.links {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

a {
	color: lightblue;
	color: deepskyblue;
}

/* Canvas */

canvas#neuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: .95;
	z-index: -10;
}

.third-party-copyright {
	position: absolute;
	bottom: 0;
	align-self: center;
	width: 100%;
	box-sizing: border-box;
	padding: 1lh;
	text-align: center;
	margin: 0;
	translate: 0px calc(100% - 4lh);
	transition-duration: 300ms;
}

.third-party-copyright:hover {
	translate: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(30px);
}