@font-face {
	font-family: "Damion";
	/* font-face-name: "Damion Regular"; */
	font-weight: 400;
	src: url("./Damion/Damion-Regular.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Hairline"; */
	font-weight: 100;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Thin"; */
	font-weight: 200;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Light"; */
	font-weight: 300;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Book"; */
	font-weight: 400;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Medium"; */
	font-weight: 500;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Semi"; */
	font-weight: 600;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Bold"; */
	font-weight: 700;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Heavy"; */
	font-weight: 800;
	src: url("./Jost/Jost-VF.ttf");
}

@font-face {
	font-family: "Jost";
	/* font-face-name: "Jost Black"; */
	font-weight: 900;
	src: url("./Jost/Jost-VF.ttf");
}
