:root {
	--big-title-size: clamp(2.5rem, 40vw, 10rem);
	--title-size: clamp(1.25rem, 10vw, 2.5rem);
	--heading-size: 0;
	--body-size: clamp(1rem, 5vw, 1.25rem);
	--body-size-small: clamp(0.8rem, 4vw, 1rem);
	--big-link-size: clamp(1.875rem, 15vw, 2.5rem);
	--small-link-size: clamp(1.25rem, 10vw, 1.875rem);

	--big-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.7);
}

#dynamic-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 0;
	will-change: background;
	transition-duration: 800ms;
}

.navbar {
	position: sticky;
	/* box-sizing: border-box;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0; */
	background-color: inherit;
	z-index: 10000;
}

div.main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	text-align: center;
	z-index: 2;
	background-color: inherit;
}

@media screen and (max-width: 640px) {
	div.main > div {
		padding: 0 1.5rem;
	}
}

.signature {
	font-family: "Damion";
}

h1.signature {
	font-size: var(--big-title-size);
	line-height: 1;
	overflow: visible;
}

h1.signature::after {
	content: ".";
	font-size: clamp(1.875rem, 30vw, 7.5rem);
}

h2.signature {
	font-size: var(--title-size);
	line-height: 1.25;
	overflow: hidden;
	transition-duration: 800ms;
	/* width: 100%; */
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	white-space: pre;
	/* line-height: 1; */
}

h2.signature > div {
	/* display: flex; */
	/* flex: 1; */
	/* width: auto; */
	/* overflow: hidden; */
	/* flex-shrink: 1; */
	/* margin: 0 auto; */
	/* justify-content: flex-start; */
	transition-duration: 800ms;
	display: inline-flex;
}

p.about {
	font-family: "Jost";
	font-weight: 300;
	font-size: var(--body-size);
	/* line-height: 1; */
	margin: 0 auto;
	padding: 0 0.5em;
	max-width: 40rem;
}

p.copy {
	font-family: "Jost";
	font-weight: 400;
	font-size: var(--body-size-small);
	/* line-height: 1; */
	/* margin: 0 auto; */
	/* padding: 0 0.5em; */
	max-width: 40rem;
}

a.main {
	flex: 1;
}

.links {
	position: sticky;
	top: calc(var(--title-size) * 1.25);
	font-size: var(--big-link-size);
	line-height: 1.5;
	height: calc(var(--big-link-size) * 1.5);
	display: flex;
	box-sizing: border-box;
	/* grid-template-columns: repeat(auto-fill, minmax(, 1fr));
	grid-template-rows: 1fr; */
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	/* max-width: min(100%, 50rem); */
	place-items: center;
	place-content: center;
	text-align: center;
	z-index: 9999;
}

@media screen and (max-width: 640px) {
	.links {
		flex-direction: column;
	}
}

.links::after{
	content: "";
	opacity: 0;
	transition-duration: 0ms;
	transition-delay: 400ms;
}

.links.small {
	font-size: var(--small-link-size);
}

.links.small::after {
	content: "";
	width: 100%;
	height: 64px;
	background: linear-gradient(to bottom, #FFFF 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
	position: absolute;
	top: 100%;
	/* opacity: 1; */
	transition-duration: 400ms;
	transition-delay: 800ms;
}

.links div {
	width: clamp(10rem, 60vw, 15rem);
	transition-duration: 800ms;
}

.links.small div {
	width: clamp(7.5rem, 40vw, 10rem);
}

.links a {
	margin: 0 auto;
	font-weight: 200;
	place-self: center;
	transition-duration: 800ms;
}

.front-page {
	/* display: flex;
	flex-direction: column;
	flex: 0; */
	min-height: 50vh;
	max-height: 50vh;
}

.front-page > div {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 50vh;
	min-height: 50vh;
	max-height: 50vh;
}

.padding {
	height: 20vh;
}

.page {
	/* min-height: 100vh; */
	overflow: visible;
	margin-top: 40vh;
	opacity: 0;
	transition-duration: 800ms;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-family: "Jost";
}

.title, .heading {
	font-family: "Jost";
	font-weight: 500;
}

.title {
	margin: 0.5em 0;
	font-size: var(--title-size);
}

.heading {
	margin: 0.5em 0;
}



.project {
	--y-position: calc(calc(var(--big-link-size) * 1.5) + calc(var(--title-size) * 1.25));
	--fade-length: 80px;
	display: flex;
	justify-content: stretch;
	align-self: stretch;
}

.project > div {
	box-sizing: border-box;
	margin: 0;
	/* overflow-y: auto;
	overscroll-behavior-y: auto; */
}

.project-info {
	position: sticky;
	/* calc(height of nav links (font-size * line-height) + height of h2.signature (font-size * line-height)) */
	top: var(--y-position);
	bottom: 0;
	min-width: min(100%, 22.5rem);
	/* min-width: max-content; */
	width: min(100%, 22.5rem);
	max-height: calc(100vh - var(--y-position));
	/* max-width: min(100%, 22.5rem);
	flex: 1; */
	flex-shrink: 0;
	/* flex-grow: 1; */
	text-align: left;
	height: fit-content;
	border-color: var(--grey);
	border-right-width: 1px;
	border-right-style: solid;
	/* border-bottom-width: 1px;
	border-bottom-style: solid; */
	padding: 60px 2rem;
	/* margin: 20px 0; */
	/* overflow-y: scroll; */
	overflow-y: auto;
	overscroll-behavior-y: auto;
	mask-mode: alpha;
	mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) var(--fade-length), rgba(0, 0, 0, 1) calc(100% - var(--fade-length)), rgba(0, 0, 0, 0) 100%), linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 1) 1px, rgba(0, 0, 0, 1) 15px, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0, 0) 100%);
	/* -webkit-overflow-scrolling: touch; */
}

/* .project-info .scroll-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
} */

.project-showcase {
	flex: 1;
	text-align: left;
	/* max-height: calc(100vh - var(--y-position)); */
	padding: 60px 1.5rem;
	/* mask-mode: alpha;
	mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) var(--fade-length), rgba(0, 0, 0, 1) calc(100% - var(--fade-length)), rgba(0, 0, 0, 0) 100%), linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 1) 1px, rgba(0, 0, 0, 1) 15px, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0, 0) 100%); */
	overflow: hidden;
}

.project-showcase p {
	margin-left: 0;
}

.project-showcase section {
	position: relative;
}

.sticky {
	background: inherit;
	position: sticky;
}

.invisible {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}

.software-image {
	display: flex;
	flex: 1;
	max-width: 100%;
	transition-duration: 200ms;
}

.software-image:focus-within {
	position: fixed;
	z-index: 100000000;
	max-width: 96vw;
	max-height: 96vh;
	top: 0;
	left: 0;
}

.concept-image {
	/* box-shadow: var(--big-shadow); */
}

.mobile-image {
	/* max-height: 60vh; */
	max-width: 70%;
	margin: auto;
}

.centre-outer {
	display: flex;
	width: min(50vh, 50vw);
	height: min(50vh, 50vw);
	background: red;
	justify-content: center;
	align-content: center;
}

.centred {
	display: flex;
	width: min(20vh, 20vw);
	height: min(20vh, 20vw);
	background: green;
	margin: auto;
}